<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<disable-daemon>true</disable-daemon>
	<log-library>/etc/daemon/sqlite.so</log-library>
	<log-file>/home/simon/data.db</log-file>
	<nicknames>
		<nickname>simon</nickname>
		<nickname>simon2</nickname>
	</nicknames>
	<servers>
		<server>
			<host>localhost</host>
			<port>6667</port>
			<channels>
				<channel>#asdasd</channel>
				<channel>#other</channel>
			</channels>
		</server>
	</servers>
</configuration>
