<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<disable-daemon>true</disable-daemon>
	<log-file>/home/user/data.db</log-file>
	<log-library>/home/user/library.so</log-library>
	<realname>SomeBot</realname>
	<username>SomeBot</username>
	<hostname>localhost</hostname>
	<nicknames>
		<nickname>irc-bot</nickname>
		<nickname>irc-bot2</nickname>
	</nicknames>
	<smtp>
		<host>localhost</host>
		<port>25</port>
		<sender>bot@bot.com</sender>
	</smtp>
	<servers>
		<server>
			<host>localhost</host>
			<port>6667</port>
			<channels>
				<channel>#main</channel>
				<channel>#other</channel>
			</channels>
		</server>
		<server>
			<host>google.com</host>
			<port>6667</port>
			<channels>
				<channel>#main</channel>
				<channel>#other</channel>
			</channels>
		</server>
	</servers>
</configuration>
