<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<disable-daemon>true</disable-daemon>
	<log-file>/home/simon/data.db</log-file>
	<nicknames>
		<nickname>irc-bot</nickname>
		<nickname>irc-bot2</nickname>
	</nicknames>
	<servers>
		<server>
			<host>localhost</host>
			<port>6667</port>
			<channels>
				<channel>#main</channel>
				<channel>#other</channel>
			</channels>
		</server>
	</servers>
</configuration>
